<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mycom.dao.AnalysisItemsMapper" >
  <resultMap id="BaseResultMap" type="mycom.pojo.AnalysisItems" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tableName" property="tablename" jdbcType="VARCHAR" />
    <result column="formula" property="formula" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, tableName, formula, creater
  </sql>
  
  <select id="selectByIds" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from analysisItems
             <where>
                 id in
                 <foreach collection="array" index="index" item="item" open="("  separator="," close=")" >
                         #{item}
                 </foreach>
             </where>
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select * from analysisItems
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from analysisItems
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from analysisItems
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mycom.pojo.AnalysisItems" >
    insert into analysisItems (id, name, tableName, 
      formula, creater)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR}, 
      #{formula,jdbcType=VARCHAR}, #{creater,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mycom.pojo.AnalysisItems" >
    insert into analysisItems
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tablename != null" >
        tableName,
      </if>
      <if test="formula != null" >
        formula,
      </if>
      <if test="creater != null" >
        creater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="formula != null" >
        #{formula,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mycom.pojo.AnalysisItems" >
    update analysisItems
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        tableName = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="formula != null" >
        formula = #{formula,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mycom.pojo.AnalysisItems" >
    update analysisItems
    set name = #{name,jdbcType=VARCHAR},
      tableName = #{tablename,jdbcType=VARCHAR},
      formula = #{formula,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>