<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mycom.dao.CommonMapper" >
 

<insert id="insertSample" parameterType="java.util.Map" statementType="STATEMENT">  
    insert into ${tableName} (sampleId) values (${sampleId})  
</insert>





</mapper>