<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mycom.dao.ModelAnalysisItemsMapper" >
  <resultMap id="BaseResultMap" type="mycom.pojo.ModelAnalysisItems" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="modelId" property="modelid" jdbcType="INTEGER" />
    <result column="analysisItemId" property="analysisitemid" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, modelId, analysisItemId, creater
  </sql>
  
  <select id="selectByModelId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from modelAnalysisItems
    where modelId = #{modelId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from modelAnalysisItems
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from modelAnalysisItems
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mycom.pojo.ModelAnalysisItems" >
    insert into modelAnalysisItems (id, modelId, analysisItemId, 
      creater)
    values (#{id,jdbcType=INTEGER}, #{modelid,jdbcType=INTEGER}, #{analysisitemid,jdbcType=INTEGER}, 
      #{creater,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mycom.pojo.ModelAnalysisItems" >
    insert into modelAnalysisItems
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="modelid != null" >
        modelId,
      </if>
      <if test="analysisitemid != null" >
        analysisItemId,
      </if>
      <if test="creater != null" >
        creater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modelid != null" >
        #{modelid,jdbcType=INTEGER},
      </if>
      <if test="analysisitemid != null" >
        #{analysisitemid,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mycom.pojo.ModelAnalysisItems" >
    update modelAnalysisItems
    <set >
      <if test="modelid != null" >
        modelId = #{modelid,jdbcType=INTEGER},
      </if>
      <if test="analysisitemid != null" >
        analysisItemId = #{analysisitemid,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mycom.pojo.ModelAnalysisItems" >
    update modelAnalysisItems
    set modelId = #{modelid,jdbcType=INTEGER},
      analysisItemId = #{analysisitemid,jdbcType=INTEGER},
      creater = #{creater,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>